*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    font-family: 'Red Hat Text', sans-serif;
    font-size: 14px;
    color: hsl(237, 18%, 59%);
    font-weight: 700;
    z-index: 0;

img {
    width: 100%;
}

p {
    letter-spacing: 5px;
}

.announcement {
    font-size: 2rem;
    color: white;
    letter-spacing: 5px;
    transform: translateY(100px);
    text-align: center;
}
main {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(hsl(234, 17%, 12%), #2F2439);
    z-index: -5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
    z-index: 100;

    img{
        display: block;
        height: 100px;
    }
    .stars {
        position: absolute;
        z-index: -1;

    }
    .hills{
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: -1;
    }

    .wrapper{
        display: flex;
    }

    .card {
        width: 150px;
        height: 150px;
        margin: 20px;
        text-align: center;

        .container {
            width: calc(100% - 10px);
            height: 100%;
            background-image: linear-gradient(#2c2c44, #34364f);
            border-radius: 8px;
            margin-bottom: 10px;
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            align-items: center;

            h2 {
                font-size: 5rem;
                font-weight: 900;
                color: hsl(345, 95%, 68%);
            }
        }
    }

    .socmed {
        font-size: 2rem;

        a{
           margin: 20px;
           color: hsl(237, 18%, 59%);
           transition: .3s ease-in;
        }
        a:hover {
            color: hsl(345, 95%, 68%);
        }

    }
}
.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}
@media screen and (max-width: 768px) {
    .wrapper {
        .card {
        width: 80px;
        height: 80px;
        margin: 5px;

      .container  h2{
            font-size: 3em ;
        }

    }

    p {
        font-size: 0.7em;
        letter-spacing: 3px;
        }
    }
}

